/obj/Debug/net6.0/Galaxify.csproj.CoreCompileInputs.cache
/obj/Debug/net6.0/Galaxify.csproj.FileListAbsolute.txt
/bin/Debug/net6.0/Galaxify.deps.json
/obj/Debug/net6.0/ref/Galaxify.dll
/obj/Debug/net6.0/refint/Galaxify.dll
/obj/Debug/net6.0/Galaxify.dll
/bin/Debug/net6.0/Galaxify.exe
/obj/Debug/net6.0/Galaxify.genruntimeconfig.cache
/obj/Debug/net6.0/Galaxify.pdb
/bin/Debug/net6.0/Galaxify.runtimeconfig.json
/.idea/.idea.Galaxify.dir/.idea/workspace.xml
