/obj/Debug/net6.0/Galaxify.csproj.CoreCompileInputs.cache
/obj/Debug/net6.0/Galaxify.csproj.FileListAbsolute.txt
/bin/Debug/net6.0/Galaxify.deps.json
/obj/Debug/net6.0/ref/Galaxify.dll
/obj/Debug/net6.0/refint/Galaxify.dll
/obj/Debug/net6.0/Galaxify.dll
/bin/Debug/net6.0/Galaxify.exe
/obj/Debug/net6.0/Galaxify.genruntimeconfig.cache
/obj/Debug/net6.0/Galaxify.pdb
/bin/Debug/net6.0/Galaxify.runtimeconfig.json
/.idea/.idea.Galaxify.dir/.idea/workspace.xml
/.idea/.idea.TestProject.dir/.idea/.name
/.idea/.idea.TestProject.dir/.idea/encodings.xml
/.idea/.idea.TestProject.dir/.idea/indexLayout.xml
/.idea/.idea.TestProject.dir/.idea/projectSettingsUpdater.xml
/.idea/.idea.TestProject.dir/.idea/vcs.xml
/.idea/.idea.TestProject.dir/.idea/workspace.xml
/.vs
/.vscode
/bin/Debug/net6.0/Galaxify.dll
/bin/Debug/net6.0/Galaxify.pdb
/bin/Debug/net7.0/Content
/bin/Debug/net7.0
/Content/obj/DesktopGL/net6.0/Content/.mgcontent
/Content/obj/DesktopGL/net6.0/Content/.mgstats
/Content/obj/DesktopGL/net6.0/Content/ball-pixel.mgcontent
/Content/obj/DesktopGL/net6.0/Content/loading-pixel-1.mgcontent
/Content/obj/DesktopGL/net6.0/Content/loading-pixel-2.mgcontent
/Content/obj/DesktopGL/net6.0/Content/loading-pixel-3.mgcontent
/Content/obj/DesktopGL/net6.0/Content/loading-pixel-4.mgcontent
/Content/obj/DesktopGL/net6.0/Content/politics-pixel.mgcontent
/Content/obj/DesktopGL/net6.0/Content/science-pixel.mgcontent
/Content/obj/DesktopGL/net7.0/Content
/obj/Debug/net6.0/apphost.exe
/obj/Debug/net6.0/Galaxify.assets.cache
/obj/Debug/net6.0/Galaxify.csproj.AssemblyReference.cache
*.BuildWithSkipAnalyzers
/obj/Debug/net6.0/Galaxify.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/ref
/obj/Debug/net7.0/refint
/obj/Debug/net7.0
/obj/Galaxify.csproj.nuget.dgspec.json
/obj/Galaxify.csproj.nuget.g.props
/obj/project.assets.json
/obj/project.nuget.cache
