/obj/Debug/net6.0/refint/Galaxify.dll
/obj/Debug/net6.0/refint
/obj/Debug/net6.0/ref/Galaxify.dll
/obj/Debug/net6.0/ref
/obj/Debug/net6.0/Galaxify.pdb
/obj/Debug/net6.0/Galaxify.genruntimeconfig.cache
/obj/Debug/net6.0/Galaxify.dll
/obj/Debug/net6.0/Galaxify.csproj.FileListAbsolute.txt
/obj/Debug/net6.0/Galaxify.csproj.CoreCompileInputs.cache
/obj/Debug/net6.0/Galaxify.csproj.BuildWithSkipAnalyzers
/obj/Debug/net6.0
/obj/Debug
/Content/obj/DesktopGL/net7.0/Content/science-pixel.mgcontent
/Content/obj/DesktopGL/net7.0/Content/ball-pixel.mgcontent
/Content/obj/DesktopGL/net7.0/Content/.mgstats
/Content/obj/DesktopGL/net7.0/Content/.mgcontent
/Content/obj/DesktopGL/net7.0/Content
/Content/obj/DesktopGL/net6.0/Content/politics-pixel.mgcontent
/Content/obj/DesktopGL/net6.0/Content/loading-pixel-4.mgcontent
/Content/obj/DesktopGL/net6.0/Content/loading-pixel-3.mgcontent
/Content/obj/DesktopGL/net6.0/Content/loading-pixel-2.mgcontent
/Content/obj/DesktopGL/net6.0/Content/loading-pixel-1.mgcontent
/Content/obj/DesktopGL/net6.0/Content
/Content/obj/DesktopGL
/bin/Debug/net7.0/runtimes/win-x86/native/soft_oal.dll
/bin/Debug/net7.0/runtimes/win-x86/native/SDL2.dll
/bin/Debug/net7.0/runtimes/win-x86/native
/bin/Debug/net7.0/runtimes/win-x64/native/soft_oal.dll
/bin/Debug/net7.0/runtimes/win-x64/native/SDL2.dll
/bin/Debug/net7.0/runtimes/win-x64/native
/bin/Debug/net7.0/runtimes/osx/native/libSDL2.dylib
/bin/Debug/net7.0/runtimes/osx/native/libopenal.1.dylib
/bin/Debug/net7.0/runtimes/osx/native
/bin/Debug/net7.0/runtimes/linux-x64/native/libSDL2-2.0.so.0
/bin/Debug/net7.0/runtimes/linux-x64/native/libopenal.so.1
/bin/Debug/net7.0/runtimes/linux-x64/native
/bin/Debug/net7.0/runtimes
/bin/Debug/net7.0/MonoGame.Framework.dll
/bin/Debug/net7.0/Galaxify.runtimeconfig.json
/bin/Debug/net7.0/Galaxify.pdb
/bin/Debug/net7.0/Galaxify.exe
/bin/Debug/net7.0/Galaxify.dll
/bin/Debug/net7.0/Galaxify.deps.json
/bin/Debug/net7.0/Content/science-pixel.xnb
/bin/Debug/net7.0/Content/ball-pixel.xnb
/bin/Debug/net7.0/Content
/bin/Debug/net7.0
/bin/Debug/net6.0/Galaxify.runtimeconfig.json
/bin/Debug/net6.0/Galaxify.pdb
/bin/Debug/net6.0/Galaxify.exe
/bin/Debug/net6.0/Galaxify.deps.json
/bin/Debug/net6.0
/.vscode/tasks.json
/.vscode/launch.json
/.vscode
/.vs/ProjectEvaluation/galaxify.projects.v6.1
/.vs/ProjectEvaluation/galaxify.metadata.v6.1
/.vs/ProjectEvaluation
/.vs/Galaxify/v17/.wsuo
/.vs/Galaxify/v17/.suo
/.vs/Galaxify/v17/.futdcache.v2
/.vs/Galaxify/v17
/.vs/Galaxify/FileContentIndex/read.lock
/.vs/Galaxify/FileContentIndex/dd2d5211-3557-4d63-80e3-c15610733416.vsidx
/.vs/Galaxify/FileContentIndex/895b6b98-bcc3-4141-90bb-b63eb364c589.vsidx
/.vs/Galaxify/FileContentIndex
/.vs/Galaxify/DesignTimeBuild/.dtbcache.v2
/.vs/Galaxify/DesignTimeBuild
/.vs/Galaxify/config/applicationhost.config
/.vs/Galaxify/config
/.vs/Galaxify
/.vs
